@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Reem+Kufi+Fun:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
  /* background color */
  --bgc-nav: white;
  /* text */
  --text-white: white;
  --text-black: black;
  --text-primary: black;
  --text-secondary: #7d7c83;
  /* button */
  --btn-bgc: #ffb703;

  /* line liner gradient > background*/
  --line-gradient: linear-gradient(90deg,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%);
  /* colors */
  --hover-color1: #3a86ff;
  --hover-color2: #639efc;
  --blue: #00bbf9;
  --yellow: #ffbe0b;
  --orange: #f26419;
  --green: #02c39a;
  --gray: #dedede80;
  /* sizes */
  --icon-size: 2rem;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* outline: 1px solid red; */
}

a {
  text-decoration: none;
  line-height: 1;
}

.container {
  padding: 0 3%;
}

nav {
  position: fixed;
  width: 100%;

}

.head-1 {
  text-align: left;
  letter-spacing: 3px;
  font-weight: 450;
  font-size: 40px;
}

.head-2 {
  text-align: left;
  font-size: 30px;
}