.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;

    p {
        align-self: center;
    }
}

.footer-contact {
    display: flex;
    flex-direction: column;
}

.footer h4 {
    margin-bottom: 10px;
}

.social-media-icons {
    display: flex;
    gap: 10px;
}

.social-media-icons a {
    color: #fff;
}

.social-media-icons a:hover {
    color: #ccc;
}



.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.back-to-top:hover {
    background-color: #ccc;
}