.hero {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1.5fr;
    align-items: center;
    justify-content: center;
    text-align: center;

    .greeting_container {
        justify-self: center;
        min-width: 13rem;
        position: relative;
        font-size: 4rem;
        font-weight: 600;
        overflow: hidden;
        height: 5rem;
        transition: ease-out;

        &::before,
        &::after {
            position: absolute;
            content: '|';
            top: 0;
            left: 0;
        }

        &::after {
            left: 94%;

        }


        .greeting {
            list-style: none;
            text-transform: uppercase;
            transform: translateY(-50%);
            /* animation: change 5s infinite; */
        }

        li,
        span {
            font-family: 'Jaini', system-ui;
        }

        li span {
            color: rgb(29, 226, 52);
        }
    }

    .company_name {
        margin-top: 20px;
        font-weight: 900;
        font-size: 2rem;


        p:last-child {
            font-family: "Vollkorn";
            font-size: 5rem;
            letter-spacing: 2px;
            border-bottom-left-radius: 10px solid;
            border-bottom-right-radius: 10px solid;
            border-bottom: 3.5px solid;

            span {
                color: crimson;
            }
        }

    }
}

@media only screen and (max-width: 768px) {
    .hero {
        .company_name {
            p:last-child {
                font-size: 3rem;
            }
        }
    }

}

/* @keyframes change {

    0%,
    100% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, -51%, 0);
    }

} */