.back-to-top {
    position: fixed;
    right: 2vw;
    bottom: 5vh;
    font-size: 18px;
    color: var(--text-white);
    transition: all 0.3s ease;
    padding: 5px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: 2px solid #4433ff;
    background: #4433ff;

    .arrow_icon {
        animation: myBounce 1s ease 0s infinite normal none;
    }

    &:hover {
        background: #fff;
        color: #4433ff;
    }
}

@keyframes myBounce {

    0%,
    100% {
        transform: translateY(3px);
    }

    50% {
        transform: translateY(-3px);
    }
}